@using SimpleFinance.ViewModels
@{
    ViewData["Title"] = "Account Overview";
}

@model AccountHeaderDetailsViewModel

<div class="container">
    <div>
        <div class="account-name text-center">
            Account Information
        </div>
        <div class="account-information">
            <div>
                @Html.LabelFor(m => m.AccountHeader.AccountName)
                @Model.AccountHeader.AccountName
            </div>
            <div>
                @Html.LabelFor(m => m.AccountHeader.AccountType)
                @Model.AccountHeader.AccountType
            </div>
            <div>
                @Html.LabelFor(m => m.AccountHeader.AccountDescription)
                @Model.AccountHeader.AccountDescription
            </div>
        </div>
        <div></div>
     </div>
     <div>
         Growth / Loss Over Time: 42341
     </div>

</div>


<div>
    Growth Since Inception (make green if good, red if bad)
</div>