@using SimpleFinance.ViewModels
@{
    ViewData["Title"] = "Home";
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<script type="text/javascript" src="~/js/account-home.js"></script>

@model AccountHomeViewModel

<div class="container">
    <div class="mt-4"> 
        Welcome Back, Braden
    </div>
    <div class="account-name text-center">
        Accounts
    </div>
    <div class="text-center">
        <div id="NetWorth" class="net-worth number">
            @Model.NetWorth
        </div>
    </div>
    <div></div>
    <div class="d-inline-flex flex-wrap justify-content-start w-100">
        @foreach (var account in Model.Accounts)
        {
            <div class="card m-2 account-card">
                <div class="card-body account-card">
                    <div class="d-inline-flex w-100 justify-content-start account-name border-bottom">
                        <div>
                            @account.AccountName
                        </div>
                        <div class="button-container">
                            <i id="@account.AccountHeaderId,@account.AccountName,@account.AccountType,@account.AccountDescription" class="editAccountHeader fa fa-pencil" style="font-size:16px;"></i>
                            <i id="@account.AccountHeaderId" class="deleteAccount fa fa-trash-o" style="font-size:16px;color:black"></i>
                        </div>
                     </div>
                    <div class="account-type mt-2">@account.AccountType</div>
                    <div class="account-value number">@account.AccountValue</div>
                    <div class="mt-3">
                        @Html.ActionLink("Account Details", "AccountDetails", "AccountDetail", new { accountHeaderId = account.AccountHeaderId }, new { @class = "btn btn-primary w-100"})
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Edit Modal (Hidden until pen icon clicked) -->
<div class="modal fade" id="EditAccountHeaderModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit Account</h3>
            </div>
            <div id="EditAccountModalBody" class="modal-body">
                <form asp-action="UpdateAccountHeader" asp-controller="AccountHeader">
                    <input name="accountHeaderId" id="ModalAccountHeaderId" type="hidden" />
                    <label for="ModalAccountName">Account Name</label>
                    <input name="accountName" id="ModalAccountName" class="form-control mb-3" type="text" placeholder="ex: Wells Fargo" />
                    <label for="ModalAccountType">Account Type</label>
                    <input name="accountType" id="ModalAccountType" class="form-control mb-3" type="text" placeholder="ex: Savings" />
                    <label for="ModalAccountDescription">Account Description</label>
                    <input name="accountDescription" id="ModalAccountDescription" class="form-control mb-3" type="text" placeholder="(optional)" />
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Save</button>
                        @Html.ActionLink("Cancel", "AccountHome", "AccountHeader", new { }, new { @class = "btn btn-danger" })
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal (Hidden until trash icon clicked) -->
<div class="modal fade" id="DeleteAccountModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete Account</h3>
            </div>
            <div id="DeleteAccountModalBody" class="modal-body">
                <div>This action cannot be un-done. Are you sure you'd like to delete this account and all history?</div>
                <form asp-action="DeleteAccountHeaderAndDetails" asp-controller="AccountHeader">
                    <input name="accountHeaderId" id="DeleteModalAccountHeaderId" type="hidden" />
                    <div class="modal-footer">
                        <button class="btn btn-danger" type="submit">Yes, Delete This Account</button>
                        @Html.ActionLink("Cancel", "AccountHome", "AccountHeader", new { }, new { @class = "btn btn-primary-outline" })
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Everything Modal (Hidden until Reset Data is clicked) -->
<div class="modal fade" id="ResetUserDataModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Reset User Data</h3>
            </div>
            <div id="ResetUserDataModalBody" class="modal-body">
                <form asp-action="ResetUserData" asp-controller="AccountHeader">
                    <div>Are you sure you'd like to delete all accounts and history? This will completely reset the application. This action cannot be un-done. </div>

                    <div class="modal-footer">
                        <button class="btn btn-danger" type="submit">Yes, Delete Everything</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>