@using SimpleFinance.ViewModels
@{
    ViewData["Title"] = "Update Balance";
}

@model AddAccountDetailViewModel

<div class="align-content-center">
    <div style="margin-left: 20%; margin-right: 20%;">
        <h1 class="display-4 d-flex justify-content-center">
            Update Account Balance
        </h1>
        <div class="d-inline-flex justify-content-between w-100">
            <div class="number account-value-lg">
                $@Model.AccountHeader.AccountValue
            </div>
            <div class="account-name-lg">
                -
            </div>
            <div class="account-name-lg">
                 @Model.AccountHeader.AccountName 
            </div>
            <div class="account-name-lg">
                -
            </div>
            <div class="account-name-lg">
                @Model.AccountHeader.AccountType
            </div>
        </div>

        <div>
            <form asp-action="SaveAccountDetail" asp-controller="AccountDetail">
                @Html.HiddenFor(m => m.AccountHeaderId)

                @Html.LabelFor(m => m.AccountValue, new { @class = "account-type" })
                <input class="form-control mb-3 w-auto" type="number" value=@Model.AccountHeader.AccountValue step=".01" placeholder="@Model.AccountHeader.AccountValue" asp-for="AccountValue" />
                
                <div class="d-inline justify-content-between">
                    <button class="btn btn-primary" type="submit">Save</button>
                    @Html.ActionLink("Cancel", "AccountHome", "AccountHeader", new { }, new { @class = "btn btn-outline-danger" })
                </div>
            </form>
        </div>
        <div class="account-type mt-4">
            Balance History
        </div>
        <div>
            @foreach (var accountDetail in Model.AccountDetails)
            {
                <div class="card mb-1">
                    <div class="card-body d-inline-flex justify-content-start gap-3 w-100">
                        <div class="account-detail-card number">
                            $@accountDetail.AccountValue
                        </div>
                        <div class="account-detail-card">
                            @accountDetail.CreateDate
                        </div>
                        <div class="trash-icon">
                            <i class="fa fa-trash-o" style="font-size:20px;color:red"></i>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>


